.collection {
  margin-top: 150px;
  border-top: 1px #EBEBEB solid;

  @media screen and (max-width: 576px) {

  }
}
.collectionMainText{
  margin-bottom: 30px;
}

.collectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.1fr 1.1fr;
  gap: 0px 0px;

  @media screen and (max-width: 576px) {
  display: flex;
    flex-direction: column;
  }
}

.collectionDivider {
  margin-top: 10px;
  height: 1px;
  background-color: #b5abab69;
}

.collectionProductCard {
  display: grid;
  justify-content: center;
  margin: 15px 0 15px 0;
  @media screen and (max-width: 576px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: rgba(105, 105, 105, 0.63) 1px solid;
  }
}

.collectionImage {
  width: auto;
  height: auto;

  @media screen and (max-width: 1280px) {
    height: 390px;
    width: 273px;
  }

  @media screen and (max-width: 992px) {
    height: 343px;
    width: 229px;
  }


  @media screen and (max-width: 768px) {
    height: 233px;
    width: 177px;
  }
  @media screen and (max-width: 576px) {
    height: 150px;
    width: 120px;
  }

}

.collectionWrapper {
  display: flex;
  flex-direction: column;
}

.collectionTitle {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6C6C6C;
}

.collectionPrice {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.collectionButtonArea {
  display: flex;
  justify-content: center;
}

