{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/prop-types": 1,
    "linebreak-style": 0,
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "class-methods-use-this\n": "off",
    "no-console": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "jsx-a11y/anchor-is-valid": 0,
    "no-param-reassign": 0
  }
}
