.about {
  background-image: url('../../../../assets/img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 708px;
  width: 100%;
  display: flex;

  @media screen and (max-width: 992px) {
    height: 503px;
  }

  @media screen and (max-width: 576px) {
    height: 400px;
  }
}

.aboutFlexContainer {
  display: flex;
  flex-direction: row;
  position: relative;
}

.aboutInfoContainer {
  margin-top: 192px;
  display: flex;
  flex-direction: column;
  justify-content: left;

  @media screen and (max-width: 992px) {
    margin-top: 35px;
  }

  @media screen and (max-width: 576px) {
    margin-top: 25px;
  }
}

.aboutName {
  font-family: Poppins, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;

  @media screen and (max-width: 576px) {
    font-size: 11px;
  }
}

.aboutMainText {
  margin-top: 12px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  max-width: 80%;

  @media screen and (max-width: 992px) {
    font-size: 36px;
  }

  @media screen and (max-width: 576px) {
    font-size: 26px;
    text-align: center;
    max-width: 100%;
  }
}

.aboutMainText span {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 68px;
  color: #AC1313;

  @media screen and (max-width: 992px) {
    font-size: 50px;
  }

  @media screen and (max-width: 576px) {
    font-size: 34px;
  }
}

.aboutSubText {
  margin-top: 14px;
  font-family: 'Libre Franklin', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6C6C6C;

  @media screen and (max-width: 576px) {
    margin-top: 22px;
    text-align: center;
  }
}

.aboutImageContainer {
  position: absolute;
  background-image: url('../../../../assets/img/aboutImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 445px;
  width: 784px;
  right: 0;
  top: 270px;

  @media screen and (max-width: 992px) {
    top: 180px;
    opacity: .7;
    height: 331px;
    width: 585px;
  }

  @media screen and (max-width: 576px) {
    height: 185px;
    width: 322px;
    top: 270px;
    right: 45px;
  }
}
