.button {
  margin-top: 50px;
  height: 62px;
  width: 201px;
  background-color: #AC1313;
  border: none;
}

.buttonText {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}
