
.ceramics {
  margin-top: 151px;
  border-top: 1px #EBEBEB solid;
  position: relative;

  @media screen and (max-width: 576px) {
    margin-top: 50px;
  }
}


.ceramicsSideText {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #DBDBDB;
  writing-mode: vertical-rl;
  min-width: 250px;
  position: absolute;
  top: 362px;
  right: 75px;

  @media screen and (max-width: 992px) {
    top: 474px;
    font-size: 11px;
    right: 10px;
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.ceramicsGrid {
  display: flex;

  @media screen and (max-width: 576px) {
    flex-direction: column;
  }
}

.ceramicsGridLeft {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (max-width: 576px) {
    align-items: center;
  }
}

.ceramicsRectangle {
  margin-top: 220px;
  height: 220px;
  width: 500px;
  background-color: #f5f5f5;

  @media screen and (max-width: 1280px) {
    width: auto;
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}


.ceramicsVaseImg {
  background-image: url("../../../../assets/img/vase.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 509px;
  width: 250px;
  position: absolute;
  top: 77px;
  left: 125px;

  @media screen and (max-width: 1280px) {
    left: 57px;
  }

  @media screen and (max-width: 992px) {
    height: 430px;
    width: 200px;
  }

  @media screen and (max-width: 768px) {
    height: 389px;
    width: 185px;
    top: 125px;
    left: 20px;
  }

  @media screen and (max-width: 576px) {
    z-index: -1;
    opacity: .5;
    left: -13px;
    top: 19px;
    height: 256px;
    width: 113px;

  }
}

.ceramicsGridTitle {
  margin-top: 245px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #000000;

  @media screen and (max-width: 576px) {
    margin-top: 30px;
  }
}

.ceramicsGridSubtitle {
  margin-top: 23px;
  font-family: 'Libre Franklin', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6C6C6C;
  max-width: 385px;
}

.ceramicsLink {
  margin-top: 27px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.ceramicsGridRight {
  display: flex;
  flex-direction: column;
  padding-left: 85px;
  position: relative;

  @media screen and (max-width: 576px) {
    padding: 0;
    align-items: center;
  }
}

.ceramicsVaseRed {
  background-image: url("../../../../assets/img/vaseRed.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 417px;
  width: 350px;
  top: 565px;
  right: 90px;
  position: absolute;

  @media screen and (max-width: 1280px) {
    right: 23px;
  }

  @media screen and (max-width: 992px) {
    height: 381px;
    width: 297px;
    top: 589px;
  }

  @media screen and (max-width: 768px) {
    height: 334px;
    width: 258px;
    top: 742px;
    right: 0;
  }

  @media screen and (max-width: 576px) {
    height: 217px;
    width: 185px;
    top: 68px;
    right: 0;
    opacity: .5;
  }
}
