@import '../../../../assets/fonts/fonts';

.workspace {
  position: relative;
}

.workspaceSideText {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #DBDBDB;
  writing-mode: vertical-lr;
  min-width: 250px;
  position: absolute;
  top: 362px;
  left: 75px;

  @media screen and (max-width: 1280px) {
    left: 30px;
  }

  @media screen and (max-width: 992px) {
    top: 274px;
    font-size: 11px;
  }

  @media screen and (max-width: 768px) {
    top: 208px;
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.workspaceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.workspaceCatName {
  margin-top: 120px;
  text-align: center;

  @media screen and (max-width: 992px) {
    margin-top: 60px;
  }

  @media screen and (max-width: 576px) {
    margin-top: 21px;
  }
}

.workspaceTitle {
  margin-top: 10px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  text-align: center;

  @media screen and (max-width: 992px) {
    margin-top: 0;
    font-size: 32px;
  }

  @media screen and (max-width: 576px) {
    font-size: 20px;
  }
}

.workspaceTitle span {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 68px;
  color: #AC1313;
  text-align: center;

  @media screen and (max-width: 992px) {
    font-size: 50px;
  }
  @media screen and (max-width: 576px) {
    font-size: 35px;
  }
}

.workspaceCircleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 64px;
  margin-top: 60px;
  justify-content: space-between;

  @media screen and (max-width: 576px) {
    padding: 0;
    flex-direction: column;
    align-items: center;
    height: 430px;
    margin-top: 20px;
  }
}

.workSpaceCircle {
  display: flex;
  width: 250px;
  height: 250px;
  border-radius: 240px;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 992px) {
    height: 120px;
    width: 120px;
  }

  @media screen and (max-width: 768px) {
    height: 95px;
    width: 95px;
    border: 10px solid rgba(0, 0, 0, 0.05);
  }

  @media screen and (max-width: 576px) {
    height: 109px;
    width: 109px;
  }
}

.yellowCircle {
  background: #E4B366;
  border: 30px solid rgba(0, 0, 0, 0.05);
}

.orangeCircle {
  background: #F05B10;
  border: 30px solid rgba(0, 0, 0, 0.05);
}

.redCircle {
  background: #A21010;
  border: 30px solid rgba(0, 0, 0, 0.05);
}

.circleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circleLogo {
  height: 70px;
  width: 70px;

  @media screen and (max-width: 992px) {
    height: 40px;
    width: 40px;
  }
}

.workspaceVase {
  background-image: url("../../../../assets/img/workspaceVasa.png");
  background-size: cover;
}

.workspaceMug {
  background-image: url("../../../../assets/img/workspaceMug.png");
  background-size: cover;
}

.workspacePlate {
  background-image: url("../../../../assets/img/workspacePlate.png");
  background-size: cover;
}

.workspaceCircleText {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.workspaceColumns {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 576px) {
    flex-direction: column;
  }
}

.columnRight {
  margin-left: 150px;
  @media screen and (max-width: 576px) {
    margin-left: 0;
  }
}

.columnTitle {
  margin-top: 85px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  color: #000000;
  max-width: 70%;


  @media screen and (max-width: 992px) {
    font-size: 23px;
  }

  @media screen and (max-width: 768px) {
    font-size: 16px;
    margin-top: 50px;
    max-width: 83%;
  }

  @media screen and (max-width: 576px) {
    margin-top: 10px;
    max-width: 88%;
  }
}


.columnSubtitle {
  margin-top: 25px;
  font-family: 'Libre Franklin', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6C6C6C;

  @media screen and (max-width: 768px) {
    margin-top: 0;
    font-size: 10px;
  }
}
