@media screen and (max-width: 1280px) {
    .wrapper {
        width: 930px;
    }

    .workspaceSideText {
        left: 30px;
    }

    .footerColumnInfo span {
        font-size: 11px;
    }

    .ceramicsRectangle {
        width: auto;
    }

    .ceramicsVaseImg {
        left: 57px;
    }

    .ceramicsVaseRed {
        right: 23px;
    }

    .collectionUpImage {
        height: 390px;
        width: 273px;
    }

    .collectionText {
        min-width: 271px;
    }

    .banner {
        margin-top: 50px;
        height: 300px;
    }


}

@media screen and (max-width: 992px) {
    header {
        height: 72px;
    }

    .headerMenu {
        padding: 16px 0;
    }

    .headerItem {
        margin-right: 30px;
    }

    .wrapper {
        width: 768px;
    }

    .about {
        height: 503px;
    }

    .aboutImageContainer {
        top: 180px;
        opacity: .7;
        height: 331px;
        width: 585px;
    }


    .aboutInfoContainer {
        margin-top: 35px;
    }

    .aboutMainText {
        font-size: 36px;
    }

    .aboutMainText span {
        font-size: 50px;
    }

    .workspaceSideText {
        top: 274px;
        font-size: 11px;
    }

    .workspaceCatName {
        margin-top: 60px;
    }

    .workspaceTitle {
        margin-top: 0;
        font-size: 32px;
    }

    .workspaceTitle span {
        font-size: 50px;
    }

    .columnTitle {
        font-size: 23px;
    }

    .workSpaceCircle {
        height: 120px;
        width: 120px;
    }

    .circleLogo {
        height: 40px;
        width: 40px;
    }

    footer {
        margin-top: 60px;
    }

    .footerLogo {
        margin-top: 60px;
    }

    .footerCopyright {
        margin-top: 38px;
    }

    .ceramicsSideText {
        top: 474px;
        font-size: 11px;
    }

    .ceramicsVaseImg {
        height: 430px;
        width: 200px;
    }

    .ceramicsVaseRed {
        height: 381px;
        width: 297px;
        top: 589px;
    }

    .ceramicsSideText {
        right: 10px;
    }

    .collectionUpImage {
        height: 343px;
        width: 229px;
    }

    .collectionText {
        min-width: 225px;
    }

    .banner {
        padding: 5px 0;
    }

    .bannerTitle {
        font-size: 30px;
    }

    .subscribeIcon {
        margin-top: 40px;
    }

    .subscribeIcon {
        width: 60px;
        height: 60px;
        background-size: cover;
    }

    .input {
        height: 30px;
        width: 250px;
    }

    .mailButton {
        margin-left: 4px;
        height: 30px;
    }

}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 567px;
    }

    .headerItem {
        margin-right: 25px;
    }

    .headerMenu {
        padding: 12px 0;
    }

    .workSpaceCircle {
        height: 95px;
        width: 95px;
        border: 10px solid rgba(0, 0, 0, 0.05);
    }

    .workspaceSideText {
        top: 208px;
    }

    .columnTitle {
        font-size: 16px;
        margin-top: 50px;
    }

    .columnSubtitle {
        margin-top: 0;
        font-size: 10px;
    }

    footer {
        margin-top: 40px;
    }

    .columnTitle {
        max-width: 83%;
    }

    .footerColumnInfo span {
        font-size: 10px;
    }

    .ceramicsVaseImg {
        height: 389px;
        width: 185px;
        top: 125px;
        left: 20px;
    }

    .ceramicsVaseRed {
        height: 334px;
        width: 258px;
        top: 742px;
        right: 0;
    }

    .collectionUpImage {
        height: 233px;
        width: 177px;
    }

    .collectionText {
        min-width: 175px;
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        width: 95%;
    }

    header {
        height: 50px;
    }

    .headerContainer {
        margin-top: 0;
    }

    .headerMenu {
        display: none;
    }

    .headerLogo {
        font-size: 23px;
    }

    .divider {
        display: none;
    }

    .headerCart {
        display: none;
    }

    .burger {
        display: flex;
    }

    .about {
        height: 400px;
    }

    .aboutImageContainer {
        height: 185px;
        width: 322px;
        top: 270px;
        right: 45px;
    }

    .aboutInfoContainer {
        margin-top: 25px;
    }

    .aboutName {
        font-size: 11px;
    }

    .aboutMainText {
        font-size: 26px;
        text-align: center;
        max-width: 100%;
    }

    .aboutMainText span {
        font-size: 34px;
    }

    .aboutSubText {
        margin-top: 22px;
        text-align: center;
    }

    .aboutButton {
        align-self: center;
        margin-top: 25px;
        height: 41px;
        width: 160px;
    }

    .workspaceCatName {
        margin-top: 21px;
    }

    .workspaceTitle {
        font-size: 20px;
    }

    .workspaceTitle span {
        font-size: 35px;
    }

    .workspaceSideText {
        display: none;
    }

    .workspaceCircleContainer {
        padding: 0;
        flex-direction: column;
        align-items: center;
        height: 430px;
        margin-top: 20px;
    }

    .workSpaceCircle {
        height: 109px;
        width: 109px;
    }

    .workspaceColumns {
        flex-direction: column;
    }

    .columnTitle {
        margin-top: 10px;
        max-width: 88%;
    }

    .columnRight {
        margin-left: 0;
    }

    .footerLogo {
        margin-top: 5px;
    }

    .footerCopyright {
        margin-top: 37px;
    }

    .footerSubText {
        margin-top: 5px;
    }

    .footerContainer {
        margin-top: 22px;
    }

    .footerColumnInfo {
        font-size: 11px;
    }

    .footerDesign {
        font-size: 9px;
    }

    .footerDesignBy {
        font-size: 10px;
    }

    .footerCopyright {
        height: 50px;
    }

    .footerColumnInfo {
        font-size: 10px;
    }

    .footerColumnInfo span {
        font-size: 7px;
    }

    .footerDesignBy span {
        display: none;
    }

    .ceramics {
        margin-top: 50px;
    }

    .ceramicsGrid {
        flex-direction: column;
    }

    .ceramicsGridTitle {
        margin-top: 30px;
    }

    .ceramicsSideText {
        display: none;
    }

    .ceramicsRectangle {
        display: none;
    }

    .ceramicsVaseImg {
        left: 0;
        top: 117px;
        z-index: -1;
        opacity: .5;

    }

    .ceramicsGridLeft {
        align-items: center;
    }

    .ceramicsGridRight {
        padding: 0;
        align-items: center;
    }

    .ceramicsVaseImg {
        left: -13px;
        top: 19px;
        height: 256px;
        width: 113px;
    }

    .ceramicsVaseRed {
        height: 217px;
        width: 185px;
        top: 68px;
        right: 0;
        opacity: .5;
    }

    .collection {
        display: none;
    }

    .banner {
        height: 190px;
    }

    .bannerWrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .bannerTitle {
        font-size: 20px;
    }

    .bannerText {
        max-width: none;
        margin-top: 0;
    }

    .bannerButton {
        margin-top: 61px;
        height: 42px;
        width: 150px;
        position: absolute;
        top: 155px;
    }

    .subscribe {
        margin-top: 90px;
        border-top: 1px #DBDBDB solid;
    }

    .subscribeTitle {
        font-size: 14px;
    }

    .subscribeTitle span {
        font-size: 40px;
    }

    .input {
        width: 171px;
    }

    .mailButton{
        width: 95px;
    }
}
