@import "reset.css";
@import "normalize.css";
@import url(../assets/fonts/fonts.css);

/*MAIN*/
.wrapper {
    margin: 0 auto;
    width: 1150px;
}


/*HEADER*/

header {
    height: 90px;
    display: flex;

}

.headerContainer {
    display: flex;
    margin-top: 13px;
}

.headerLogo {
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    flex: 1;
}

.headerMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 22px 0;

}

.headerList {
    display: flex;
    flex-direction: row;
}

.headerItem {
    margin-right: 40px;
}

.headerItem:last-child {
    margin-right: 0;
}

.headerItem a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6C6C6C;
    text-decoration: none;
}

.headerItemActive a {
    color: #AC1313;
}

.divider {
    width: 1px;
    height: 38px;
    background-color: #EBEBEB;
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
}

.headerCart {
    display: flex;
    align-items: center;
}

.headerCartText {
    margin-left: 6px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

/*ABOUT*/

.about {
    background-image: url("../assets/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 708px;
    display: flex;
}

.aboutFlexContainer {
    display: flex;
    flex-direction: row;
    position: relative;
}

.aboutInfoContainer {
    margin-top: 192px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.aboutName {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}

.aboutMainText span {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;
    color: #AC1313;
}

.aboutMainText {
    margin-top: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.aboutSubText {
    margin-top: 14px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

.aboutButton {
    margin-top: 50px;
    height: 62px;
    width: 201px;
    background-color: #AC1313;
    border: none;
}

.aboutButtonText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}

.aboutImageContainer {
    position: absolute;
    margin-top: 130px;
    background-image: url("../assets/img/aboutImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 445px;
    width: 784px;
    right: -110px;
}

/* WORKSPACE */

.workspace {
    position: relative;
}

.workspaceSideText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DBDBDB;
    transform: rotate(-90deg);
    min-width: 250px;
    position: absolute;
    top: 362px;
    left: -32px;
}

.workspaceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workspaceCatName {
    margin-top: 120px;
}

.workspaceTitle {
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}

.workspaceTitle span {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;
    color: #AC1313;
}

.workspaceCircleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 64px;
    margin-top: 60px;
}

.workSpaceCircle {
    display: flex;
    width: 190px;
    height: 190px;
    border-radius: 240px;
    margin-right: 150px;
    justify-content: center;
    align-items: center;
}

.workSpaceCircle:last-child {
    margin-right: 0;
}

.yellowCircle {
    background: #E4B366;
    border: 30px solid rgba(0, 0, 0, 0.05);
}

.orangeCircle {
    background: #F05B10;
    border: 30px solid rgba(0, 0, 0, 0.05);
}

.redCircle {
    background: #A21010;
    border: 30px solid rgba(0, 0, 0, 0.05);
}

.circleContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workspaceVase {
    height: 70px;
    width: 70px;
    background-image: url("../assets/img/workspaceVasa.png");
}

.workspaceMug {
    height: 70px;
    width: 70px;
    background-image: url("../assets/img/workspaceMug.png");
}

.workspacePlate {
    height: 70px;
    width: 70px;
    background-image: url("../assets/img/workspacePlate.png");
}
.workspaceCircleText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.workspaceColumns {
    display: flex;
    flex-direction: row;
}

.columnRight {
    margin-left: 150px;
}
.columnTitle{
    margin-top: 85px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 36px;
    color: #000000;
}


.columnSubtitle {
    margin-top: 25px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
    max-width: 90%;
}







