@import "reset.css";
@import "normalize.css";
@import url(../assets/fonts/fonts.css);

/*MAIN*/
.wrapper {
    margin: 0 auto;
    width: 1150px;
}


/*HEADER*/

header {
    height: 90px;
    display: flex;

}

.headerContainer {
    display: flex;
    margin-top: 13px;
}

.headerLogo {
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    flex: 1;
}

.headerMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 22px 0;

}
.headerList {
    display: flex;
    flex-direction: row;
}

.headerItem {
    margin-right: 40px;
}

.headerItem:last-child{
    margin-right: 0;
}

.headerItem a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6C6C6C;
    text-decoration: none;
}

.headerItemActive a {
    color: #AC1313;
}

.divider {
    width: 1px;
    height: 38px;
    background-color: #EBEBEB;
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
}

.headerCart {
    display: flex;
    align-items: center;
}

.headerCartText {
    margin-left: 6px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}